::-webkit-scrollbar {
  background: gray;
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
}


.App {
  text-align: center;
}

.main-panel {
  display: flex;
}

.user-panel, .vendor-panel {
  flex: 1 1 auto;
  width: 50%;
  margin: 10px;
  background: rgba(200,200,200,0.5);
  border-radius: 10px;
}

.user-actions-panel, .vendor-actions-panel {
  display: flex;
  justify-content: space-around ;
}

.vendor-balances-panel {
  display: flex;
  justify-content: center;
}

.user-transfer-tokens-card, .vendor-sell-tokens-card, .vendor-buy-tokens-card {
  display: flex;
  padding: 8px;
  margin-top: 32px;
  max-width: 50%;
}

.sell-tokens-buttons-panel {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.order-book-panel {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  background: rgba(200,200,200,0.5);
  border-radius: 10px;
}

.order-book-list {
  line-height: 10px !important;
  overflow-y: auto;
  height: 200px;
  text-align: start;
}

.buy-token-event {
  background: darkgreen;
}

.sell-token-event {
  background: darkred;
}

@media (max-width: 767px) {
  .sell-tokens-buttons-panel {
    flex-direction: column;
  }
}